<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> ![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <h1>
        Edit this workout
    </h1>
    <div>
        <form action="/tenndr/<%=tenndr._id%>?_method=PUT" method="POST">
            <label for="workout">Workout</label>
            <input type="text" name="workout" value="<%=tenndr.workout%>" />
            <label for="description">Description</label>
            <input type="text" name="description" value="<%=tenndr.description%>" />
            <label for="duration">Duration</label>
            <input type="text" name="duration" value="<%=tenndr.duration%>" />
            <label for="mood_before">Mood Before</label>
            <input type="text" name="mood_before" value="<%=tenndr.mood_before%>" />
            <label for="mood_after">Mood After</label>
            <input type="text" name="mood_after" value="<%=tenndr.mood_after%>" />
            <label for="day_of_week">Day of Week</label>
            <input type="text" name="day_of_week" value="<%=tenndr.day_of_week%>" />
            <label for="time_of_day">Time of Day</label>
            <input type="text" name="time_of_day" value="<%=tenndr.time_of_day%>" />
            <input type="submit" name="" value="Update" />
        </form>
        
    </div>
    <button><a href="/tenndr">Go Home</a></button>
</body>

</html>