<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tenndr:Be Tenndr With Yourself</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./style.css" />
    <style>
      body {
        margin: 50px 100px;
        background-color: rgb(2, 76, 2);
        color: white;
      }
      .row {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      h1{
        margin: center;
        text-align: center;
        font-size: 35px;
      }
      .notes-box{
        width: 500px;
        height: 200px;
      }
    </style>
  
</head>

<body>
    <h1>
        Edit this workout
    </h1>
    <div>
        <form action="/tenndr/<%=tenndr._id%>?_method=PUT" method="POST">
            <label for="workout">Workout Focus Area:</label>
            <input type="text" name="workout" value="<%=tenndr.workout%>" />
            <label for="duration">Duration:</label>
            <input type="text" name="duration_in_mins" value="<%=tenndr.duration_in_mins%>" />
            <label for="mood_before">Mood Before:</label>
            <input type="text" name="mood_before" value="<%=tenndr.mood_before%>" />
            <label for="mood_after">Mood After:</label>
            <input type="text" name="mood_after" value="<%=tenndr.mood_after%>" />
            <label for="description">Notes:</label>
            <textarea name="description"><%=tenndr.description%></textarea>
            <input type="submit" name="" value="Update" />
        </form>
        
    </div>
    <button><a href="/tenndr">Go Home</a></button>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" />
    </form>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

