<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> ![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>
   <%=tenndr.workout%>
    </h1>
    <h1>
        <%=tenndr.description%>
    </h1>
    <h1>
        <%=tenndr.duration%>
    </h1>
    <h1>
        <%=tenndr.mood_before%>
    </h1>
    <h1>
        <%=tenndr.mood_after%>
    </h1>
    <h1>
    <%=tenndr.day_of_week%>
</h1>
<h1>
    <%=tenndr.time_of_day%>
</h1>
        </h2>
        <button><a class="waves-effect amber waves-light btn" href="/tenndr/<%=tenndr._id%>/edit"><span class="purple-text darken-3">Edit</span></a></button>
        <form action="/tenndr/<%=tenndr._id%>?_method=DELETE" method="POST">
            <input type="submit" name="" value="Delete" />
        </form>
        <button><a href="/tenndr">Go Home</a></button>
    </div>
</body>

</html>